

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <h5 *ngIf="success"></h5>

  <label>
    <h2>Login</h2>
    Username:
    <input type="text" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">Your username is required</div>
    </div>

    Password:
    <input type="text" formControlName="password">
    <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
      <div *ngIf="messageForm.controls.password.errors.required">Your password is required</div>
    </div>

    <input type="submit" value="Login" class="cta"> 
    <input type="button" value="Register" class="registerlink" routerLink="/register">
  </label>
</form>

